/*.alphabet-set, .alphabet-image-holder {
  text-align: center;
}

.alphabet-question {
  font-size: 16pt;
}
  
.alphabet-selected {
  border: thick solid lime;
}

.alphabet-table-col {
  width: 100px;
  display: inline-block;
  float: left;
}

.table {
  display: inline;
}

.alphabet-table {
  border: thin solid black;
  display: inline-block;
}

.alphabet-table-cell {
  border: thin solid black;
  margin: 1px;
  padding: 1px;
  text-align: center;
}

.table-header {
  font-weight: bold;
  text-align: center;
}
*/

/* * {
  border: thin black dashed;
}*/

.test {
  display: inline;
}

.not-yet-finished-task {
  border: thick solid red;
}

.finished-task {
  border: thick solid lime;
}

.example-holder {
  display: inline;
}

.character-select {
  text-align: center;
}

span.top {
  position: relative;
}

span.bottom {
  position: absolute; 
//  left:0%; 
//  bottom:100%;
}

.image-holder {
  height: 80px;
  width: 80px;
}

.image-box {
  margin: 2.5px;
  border: thin solid #C0C0C0; //lightgray
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

img {
  display: inline;
}

div.loading-progess {
  text-align:center;
  border:thin black solid;
}

div.loading-message {
  text-align:left;
  font-weight:bold;
}

div.example-holder, div.test-holder {
  display:inline-block;
  text-align:center;
  width: 120px;
  height:140px;
  margin: 10px;
  border:thin black solid;
  vertical-align:middle;
}

div.question-holder {
  display:inline-block;
  vertical-align:middle;
}

.example-holder-long {
  border:thick red solid;
}

.example-holder-medium {
  border:thcik yellow solid;
}

.example-holder-short {
  border:thcik green solid;
}


.example-holder-doing {
  border:thick white solid;
}

.example-holder-done {
  border:thick white solid;
}

.test-header, .example-header {
  text-align:center;
}

.test-holder {
  border:thick white solid;
}

.task-holder {
}

.noise-image, .noise-image-holder, .test-image-holder, .test-image, .example-image, .example-image-holder {
  width:100px;
  height:100px;
}

.noise-image-holder, .test-image-holder, .example-image-holder {
  margin: 5px;
}
