.inline {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.character-question {
  font-size: 16pt;
}

.task-holder {
  text-align: center;
}
  
.image-holder {
  padding: 2.5px;
  width: 100px;
  height: 100px;
}

.class-holder {
  display: inline-block;
  padding: 0px;
}

.image-box {
  margin: 2.5px;
  border: thin solid #C0C0C0; //lightgray
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

img.character {
  height: 100%;
  width: 100%;
}

/*img.character {
  height: 100px;
  width: 100px;
  margin: 2.5px;
}*/

img {
  display: inline;
}

.class-label {
  text-align: center;
}
/*
.prompt-holder-long {
  border:thick red solid;
}

.prompt-holder-medium {
  border:thick yellow solid;
}

.prompt-holder-short {
  border:thick green solid;
}

.prompt-holder-doing {
  border:thick white solid;
}

.prompt-holder-done {
  border:thick white solid;
}

.task-overlay-progress-bar-holder {
  opacity: 0.5;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
}

.task-correct-progress-bar, .task-incorrect-progress-bar {
  display: inline-block;
}

.task-correct-progress-bar {
  background-color: green;
}

.task-incorrect-progress-bar {
  background-color: red;
}

.task-actual-progress-bar-holder {
  height: 0px;
}
*/
