# uncomment the next line if your server treats everything as a cgi script, and doesn't recognize .py (e.g., csail)
# AddHandler cgi-script .py
RewriteEngine on
RewriteRule ^results/accepted-images/(..)a(..)n(..)g(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/angelic/angelic_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)a(..)r(..)c(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/arcadian/arcadian_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)a(..)r(..)m(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/armenian/armenian_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)a(..)s(..)o(..)m([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/asomtavruli/asomtavruli_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)a(..)t(..)e(..)m([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/atemayar/atemayar_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)a(..)t(..)l(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/atlantean/atlantean_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)a(..)u(..)r(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/aurek_besh/aurek_besh_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)a(..)v(..)e(..)s([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/avesta/avesta_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)b(..)a(..)l(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/balinese/balinese_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)b(..)e(..)n(..)g([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/bengali/bengali_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)b(..)l(..)a(..)c([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/blackfoot/blackfoot_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)b(..)r(..)a(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/braille/braille_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)c(..)y(..)r(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/cyrillic/cyrillic_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)e(..)a(..)r(..)l([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/earlyaramaic/earlyaramaic_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)e(..)s(..)t(..)r([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/estrangelo/estrangelo_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)f(..)u(..)t(..)h([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/futhorc/futhorc_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)f(..)u(..)t(..)u([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/futurama/futurama_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)e(..)_(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/ge_ez/ge_ez_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)e(..)t(..)_([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/get_accepted_image_list.timestamp.txt/get_accepted_image_list.timestamp.txt_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)e(..)t(..)_([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/get_hashed_images_dict.timestamp.txt/get_hashed_images_dict.timestamp.txt_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)l(..)a(..)g([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/glagolitic/glagolitic_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)r(..)a(..)n([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/grantha/grantha_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)r(..)e(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/greek/greek_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)u(..)j(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/gujarati/gujarati_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)g(..)u(..)r(..)m([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/gurmukhi/gurmukhi_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)h(..)e(..)b(..)r([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/hebrew/hebrew_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)h(..)i(..)r(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/hiragana/hiragana_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)i(..)n(..)u(..)k([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/inuktitut/inuktitut_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)j(..)a(..)w(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/jawi/jawi_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)k(..)a(..)n(..)n([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/kannada/kannada_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)k(..)a(..)t(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/katakana/katakana_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)k(..)e(..)b(..)l([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/keble/keble_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)k(..)o(..)r(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/korean/korean_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)l(..)a(..)t(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/latin/latin_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)m(..)a(..)g(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/magi/magi_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)m(..)a(..)l(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/malayalam/malayalam_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)m(..)a(..)n(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/manipuri/manipuri_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)m(..)k(..)h(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/mkhedruli/mkhedruli_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)m(..)o(..)n(..)g([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/mongolian/mongolian_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)m(..)y(..)a(..)n([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/myanmar/myanmar_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)n(..)k(..)o(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/nko/nko_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)o(..)j(..)i(..)b([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/ojibwe/ojibwe_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)o(..)l(..)d(..)_([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/old_cyrillic/old_cyrillic_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)o(..)r(..)i(..)y([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/oriya/oriya_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)s(..)a(..)n(..)s([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/sanskrit/sanskrit_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)s(..)e(..)r(..)t([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/serto/serto_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)s(..)y(..)l(..)h([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/sylheti/sylheti_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)t(..)a(..)g(..)a([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/tagalog/tagalog_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)t(..)e(..)n(..)g([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/tengwar/tengwar_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)t(..)i(..)b(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/tibetan/tibetan_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)t(..)i(..)f(..)i([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/tifinagh/tifinagh_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)t(..)i(..)m(..)e([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/timestamp.txt/timestamp.txt_$5_$1$2$3$4$6.png
RewriteRule ^results/accepted-images/(..)u(..)l(..)o(..)g([0-9][0-9])([^\.]+)\.png /~jgross/alphabets/results/accepted-images/ulog/ulog_$5_$1$2$3$4$6.png
